{{! Calls the cards subtopic name}}
<div class="card m-1" style="min-width: 16rem;" id="test">
  <div class="card-body" style="min-width: 80%; margin-inline: auto;">
    {{! Calls the subtopic name}}
    <h5 class="card-title">{{name}}</h5>
  </div>
</div>