<div class="card-body">
    <div class="cardHeader">
        <h5 class="card-title">{{topic_name}}</h5>
        <button class="btn btn-favorites">
            <i class="bi bi-star"></i>
        </button>
    </div>
    <p class="card-text">
    </p>
</div>