<div class="container container-fluid mt-5">
    <div class="container">
        <div class="row p-3">
            <div class="col border border-dark m-1" id="div1">
                <div class="card m-1" style="width: 100%">
                    <div class="card-body">
                        <h3 class="description">Description</h3>
                        <p class="card-text">Brief description pulled from db</p>
                    </div>
                </div>
                <div class="card m-1" style="width: 100%">
                    <div class="card-body">
                        <h3 class="exampleCode text-left">Code Demos</h3>
                        <p class="card-text">
                            <b>pull from db a demo of the code </b> Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Soluta sit illo enim
                            quo molestias libero excepturi cupiditate tempore eveniet
                            beatae aperiam aut, rem impedit quam! Repellat ducimus
                            minima necessitatibus quas!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col border border-dark m-1 text-center">
                <h3>Code examples</h3>
                <div class="card m-1" style="width: 100%">
                    <div class="card-body">
                        <h5 class="card-title">Code Title from DB</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Quasi corrupti corporis in sunt voluptatem ex consectetur,
                            commodi debitis recusandae quis excepturi odio tempore
                            praesentium laboriosam sed nisi eos culpa et.
                        </p>
                    </div>
                </div>
                <div class="card m-1" style="width: 100%">
                    <div class="card-body">
                        <h5 class="card-title">Code Title from DB</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Quasi corrupti corporis in sunt voluptatem ex consectetur,
                            commodi debitis recusandae quis excepturi odio tempore
                            praesentium laboriosam sed nisi eos culpa et.
                        </p>
                    </div>
                </div>
                <div class="card m-1" style="width: 100%">
                    <div class="card-body">
                        <h5 class="card-title">Code Title from DB</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Quasi corrupti corporis in sunt voluptatem ex consectetur,
                            commodi debitis recusandae quis excepturi odio tempore
                            praesentium laboriosam sed nisi eos culpa et.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>