<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Study Buddies</title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
  </head>

  <body class="body">
    <div class="flex-column justify-space-around">
      <header class="header">
        <div>Logo</div>
        <h1>Study Buddies</h1>
        <nav>hambuger</nav>
      </header>
      <h2 class="h2 text-center p-3">Name of Subtopic Selected</h2>
<main>
      <div class="container container-fluid mt-5">
        <div class="container">
          <div class="row p-3">
            <div class="col border border-dark m-1" id="div1">
              <div class="card m-1" style="width: 100%">
                <div class="card-body">
                  <h3 class="description">Description</h3>
                  <p class="card-text">Brief description pulled from db</p>
                </div>
              </div>
              <!-- <div class="card m-1" style="width: 100%">
                <div class="card-body">
                  <h3 class="exampleCode text-left">Code Demos</h3>
                  <p class="card-text">
                    <b>pull from db a demo of the code </b> Lorem ipsum dolor
                    sit amet consectetur adipisicing elit. Soluta sit illo enim
                    quo molestias libero excepturi cupiditate tempore eveniet
                    beatae aperiam aut, rem impedit quam! Repellat ducimus
                    minima necessitatibus quas!
                  </p>
                </div> -->
              </div>
            </div>
            <div class="row border border-dark m-1 text-center">
              <h3>Code examples</h3>
              <div class="card m-1" style="width: 30%">
                <div class="card-body" style="width: 100%">
                  <h5 class="card-title">Code Title from DB</h5>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Quasi corrupti corporis in sunt voluptatem ex consectetur,
                    commodi debitis recusandae quis excepturi odio tempore
                    praesentium laboriosam sed nisi eos culpa et.
                  </p>
                </div>
              </div>
              <div class="card m-1" style="width: 30%">
                <div class="card-body">
                  <h5 class="card-title">Code Title from DB</h5>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Quasi corrupti corporis in sunt voluptatem ex consectetur,
                    commodi debitis recusandae quis excepturi odio tempore
                    praesentium laboriosam sed nisi eos culpa et.
                  </p>
                </div>
              </div>
              <div class="card m-1 max-width:100%" style="width: 30%;">
                <div class="card-body"  style="width: 18rem;">
                  <h5 class="card-title">Code Title from DB</h5>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Quasi corrupti corporis in sunt voluptatem ex consectetur,
                    commodi debitis recusandae quis excepturi odio tempore
                    praesentium laboriosam sed nisi eos culpa et.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <main>
      </main>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
  <footer class="footer">
    <div>about</div>
    <div>links</div>
    <div>contact us</div>
  </footer>
</html>
