@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

:root {
  --neonMagenta: rgb(177, 35, 177);
  --neonRed: rgb(240, 22, 80);
  --neonYellow: rgb(255, 255, 115);
  --neonBlue: rgb(35, 249, 231);
  --neonPurple: rgb(170, 26, 183);
  --white: white;
  --dark: rgb(55, 52, 52);
  --darker: rgba(0, 0, 0, 0.5)
}



.Body {
  background-color: var(--dark);
 
}
.header {
  display: flex;
  justify-content: center;
  opacity: 90%;
  z-index: 500;

  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  background-color: var(--darker);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.1rem;
  color: var(--neonBlue);
  position: sticky;
  top:0px
}

.test {
  display: flex;
  margin-top: 10px;
  height: 50%;
  color: var(--dark) ;
  background-color: var(--neonBlue);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2rem;
  
}

/* .test:hover{
  cursor: pointer;
  background-color: whitesmoke;
  color: black;
 box-shadow: 0 0 0 5px white;
} */
.footer {
  display: flex;
  position: fixed;
  bottom: 0px;
  width: 100%;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  background-color: var(--neonMagenta);
  color: var(--white);
  margin-top: 10px;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.col:hover{
cursor: pointer;
}
#logo{
  display: flex;
  max-width: 15vh;
  max-height: 15vh;
}
.btn-favorites {
  display: flex;
}

.bi-star {
  display: flex;
  margin-top: -5px;
}

.bi-star:hover {
  color: var(--neonYellow);
}

.card:hover {
  cursor: pointer;
}
