{{! Calls the cards subtopic name}}
{{! http://localhost:3001/api/subtopics/5 }}
<a href="/api/subtopics/{{id}}">
  <div>
    <div class="card-body" style="min-width: 80%; margin-inline: auto;">
      {{! Calls the subtopic name}}
      <h5 class="card-title">{{name}}test</h5>
    </div>
  </div>
</a>